extends layout

block content
  h1= title
  p Welcome to #{title}
  p 서버 컴퓨터 정보 : aws ec2 t2.micro / Ubuntu Server 18.04 LTS (HVM), SSD Volume Type
  a(href='/users') /users
  br
  a(href='/stream') /stream
